.navBar{
    background-color: black;   
}

.saverButton {
    background-color: black;
    font-size: 12px;
    margin: -20px;
}

.cardBox {
    height: 700px;
}

.articleHeadline  a {
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    color: white;   
}

.articleHeadline a {
    text-decoration: none;
}
